body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
  font-family: 'Lucida Sans';
  
}
#login .container #login-row #login-column #login-box {
  margin-top: 90px;
  max-width: 600px;
  height: 470px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 45px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 15px;
}

a {
  text-decoration: none;
}